<nav class="navbar">
  <div class="container row-auto">
    <a class="navbar-brand col-auto">PropertyManager</a>
    <ul class="nav navbar-nav col-auto" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="dashboard">Pulpit</a></li>
    </ul>
    <ul class="nav navbar-nav col-auto" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="register">Rejestracja/Logowanie</a></li>
    </ul>
    <ul class="nav navbar-nav col-auto" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="financialchanges">Zmiany finansowe</a></li>
    </ul>
    <ul class="nav navbar-nav col-auto" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="logout">Wyloguj</a></li>
    </ul>

  </div>
</nav>
  <hr />
