<div class="row">
  <h3>Zakres czasu</h3>
  <div class="col-auto">
    <label>Data poczatkowa:</label>
    <form class="row row-cols-sm-auto">
      <div class="col-12">
        <div class="input-group">
          <input class="form-control"
                 placeholder="yyyy-mm-dd"
                 name="startDp"
                 [(ngModel)]="startDate"
                 ngbDatepicker
                 #sd="ngbDatepicker" />
          <button class="btn btn-outline-secondary bi bi-calendar3" (click)="sd.toggle()" type="button">v</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-auto">
    <label>Data końcowa:</label>
    <form class="row row-cols-sm-auto">
      <div class="col-12">
        <div class="input-group">
          <input class="form-control"
                 placeholder="yyyy-mm-dd"
                 name="endDp"
                 [(ngModel)]="endDate"
                 ngbDatepicker
                 #ed="ngbDatepicker" />
          <button class="btn btn-outline-secondary bi bi-calendar3" (click)="ed.toggle()" type="button">v</button>
        </div>
      </div>
    </form>
  </div>
  <button class="btn btn-primary col-auto" (click)="onDashboardUpdateBtnClick()">Zaktualizuj</button>
</div>

<hr />
<h3 style="color:green" *ngIf="balance>=0">Saldo: {{balance}}</h3>
<h3 style="color:red" *ngIf="balance<0">Saldo: {{balance}}</h3>

<hr />
<div class="row-auto">
    <canvas baseChart class="chart col-1"
            [data]="pieChartData"
            [type]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins">
    </canvas>

</div>
<hr />
<div class="row-auto">
  <canvas baseChart class="chart col-1"
          [data]="incomeCategoryData"
          [type]="pieChartType"
          [options]="incomeCategoryOptions"
          [plugins]="pieChartPlugins">
  </canvas>
</div>

<hr/>
<div class="row-auto">
  <canvas baseChart class="chart col-6"
        [data]="barChartData"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [type]="barChartType">
</canvas>
</div>
